/* Root styles */

:root {
    --white: #FFF;
    --black: #323232;
    --green: #417B5A;
    --dark-green: #275239;
    --orange: #FF8F00;
    --yellow: #FFC107;
    --warning: #FF4242;
    --background: #F5EFED;
}
* {
    font-family: 'Plus Jakarta Sans';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px
}

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 1.25rem;
}

section {
    height: 100vh;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

/* Button styling */

button {
  background: var(--green);
  color: var(--white);
  border: none;
  padding: 14px 18px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  touch-action: manipulation;
  transition: all 0.2s ease;
}

button:visited

button:active {
  transform: scale(0.95);
}

button:disabled {
  background: rgba(108, 117, 125, 0.6);
  transform: none;
  box-shadow: none;
}

/* ---- */

.time-container, .difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-text {
    font-size: 0.8rem;
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.screen {
    display: none;
}
.screen.active {
    display: block;
}
.time-buttons, .difficulty-buttons {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.time-buttons input[type="radio"], 
.difficulty-buttons input[type="radio"] {
    display: none;
}

.time-buttons label, 
.difficulty-buttons label {
    border: 1px solid var(--black);
    padding: 0.7rem 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.2s;
}

.time-buttons input[type="radio"]:checked + label,
.difficulty-buttons input[type="radio"]:checked + label {
    background: var(--green);
    color: var(--background);
    border-color: var(--green);
}

.create-route-button-container {
    display: flex;
    justify-content: center;
}

#start-tracking {
    border-radius: 1.25rem;
    border: none;
    padding: 1rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    background: var(--green);
}

#start-screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    padding: 80px 0 0 0;
}

.selection-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}